<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Management System</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<h1>Welcome to the Order Management System</h1>
<h2>Who are you?</h2>
<div class="image-container">
  <a class="image-link" href="/client">
    <img src="/images/User.png" alt="Client">
    <p>Client</p>
  </a>
  <a class="image-link" href="/staff">
    <img src="/images/Staff.png" alt="Staff">
    <p>Staff</p>
  </a>
</div>
</body>
</html>
